
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.img1{
    width: 100px;
    height: 70px;
}

a{
    text-decoration: none;
    color: black;
}
.btn1{
    width: 130px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.part1{
    text-align: center;

}
h1{
    font-size: 70px;
    margin: 10px;
}
p{
    margin: 10px;
    }
  .btn2{
    background-color: green;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
  }  
.part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.part3{
    text-align: left;
    margin: 20px;
  
}
.div2{
    display:flex ;
    align-items: center;
justify-content: flex-start;
   
}
.img3{
    display: flex;
    justify-content:right;
}
.text{
    background-color: rgb(233, 167, 117);
    width: 1000px;
    height: 900px;
    color: black;


}