
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.img1{
    width: 100px;
    height: 70px;
}

a{
    text-decoration: none;
    color: black;
}
.btn1{
    width: 130px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.part1{
    text-align: center;

}
h1{
    font-size: 70px;
    margin: 10px;
}
p{
    margin: 10px;
    }
  .btn2{
    background-color: green;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
  }  
.part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}


.part3{
    text-align: left;
    margin: 20px;
  
}
.more{
        background-color: rgb(245, 190, 147);
   
    width: 170px;
    height: 50px;
    border-radius: 10px;
}
.div2{
    display:flex ;
    align-items: center;
justify-content: flex-start;
   
}
.img3{
    
    position: absolute;
    right: 200px;
    top: 820px;
   
   
}
.text{
    background-color: rgb(245, 190, 147);
    width: 1950px;
    height: 200px;
    border-radius: 20px;
    color: black;
    font-size:20px;
}
.img4{
    width: 80px;
    height: 80px;
    border-radius: 70px;
    float:left;
}
.div4{
    display: flex;
    align-items: center;
}
/* .all{
    display: flex;
    align-items: center;
} */
.div3{
    display: flex;
    padding: 40px;
    float: left;
    
}
.space{
   display: flex;
   align-items: center;
float: right;
}
.part4{
    
  text-align: center;
}

.butt{
    background-color: rgb(169, 230, 169);
    width: 170px;
    height: 40px;
    border-radius: 10px;
}
.second{
display: flex;
gap: 20px;
text-align:left;
justify-content: center;
padding: 30px;
margin: 20px;
}

    
    .third{
        background-color: rgb(169, 230, 169);
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
    align-items: center;
    }
    .side{
        /* display: flex; */
        /* text-align: right; */
        width: 60%;
        
    }
    .camilla{
        width: 100px;
        height: 80px;
        border-radius: 40px;
    }
    .song{
    display: flex;
    align-items: center;
}

    
    .img10{
         position: absolute;
    left: 100px;
    top: 1400px;
}


.butt5{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: blue;
}
.second1{
    display: flex;
}
.third1{
    background-color: blue;
    color: white;
    border-radius: 20px;
    
}
.song1{
    display: flex;
    align-items: center;
}
.seconde{
 display: flex;
 justify-content: space-between;
 align-items: center;
 
}
.img12{
    position: relative;
    left: 1500px;
    top: 50px;
}
.chiffres{
 font-size: 50px;
 gap: 20px;
}
.border{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid;
    color: black;
    margin-top: 40px;
    border-radius: 20px;
}
.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.class1{
    border: solid;
    color: black;
    border-radius: 20px;
}
.class2{
    border: solid;
    color: black;
    border-radius: 20px;
}
.class3{
    border: solid;
    color: black;
    border-radius: 20px;
}
.learn{
    margin-top: 120px;
}
.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid;
    color: black;
    border-radius: 20px;
    margin-top: 40px;
}
.get{
    background-color: rgb(231, 198, 34);
    width: 300px;
    height: 80px;
    border-radius: 20px;
    font-size: large;
}
.img20{
    width: 100px;
}
.list{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
}

.d7{
    grid-column: 2;
 
}
.d9{
    grid-column: 4/6;
}
.d10{
    grid-column: 2/4;
    grid-row: 3;
}
.d11{
    grid-column: 6;
    grid-row: 3;
}